<div class="header">
    <div *ngIf="this.thinking_state.thinking">
        <mat-spinner [matTooltip]="this.thinking_state.message" diameter="22" appProgressSpinner
            color="var(--color-blue-primary)"></mat-spinner>
    </div>
    <div *ngIf="!this.thinking_state.thinking">
        <p>LOGO</p>
    </div>
</div>

@for(app of this.apps; track app.name) {
<tomato-icon-button [label]="app.name" [callback]="this.navigate" [callback_args]="[this, app.url]"
    [active]="this.check_active(app.url) && this.app_ref.sidebar_open" icon_path="assets/app-icon/{{app.icon}}.svg">
</tomato-icon-button>
}