<quill-editor [(ngModel)]="this.content.string" format="html">
    <div quill-editor-toolbar class="editor-toolbar">
        <span class="ql-formats">
            <select class="ql-font">
                <option selected></option>
                <option value="serif">Serif</option>
                <option value="monospace">Monospace</option>
            </select>

        </span>
        <span class="ql-formats">
            <button type="button" class="ql-bold"></button>
            <button type="button" class="ql-italic"></button>
            <button type="button" class="ql-underline"></button>
        </span>

        <span class="ql-formats">
            <button type="button" class="ql-list" value="ordered"></button>
            <button type="button" class="ql-list" value="bullet"></button>
        </span>

        <span class="ql-formats">
            <select class="ql-align" [title]="'Aligment'">
                <option selected></option>
                <option value="center"></option>
                <option value="right"></option>
                <option value="justify"></option>
            </select>
        </span>

        <span class="ql-formats">
            <select class="ql-header">
                <option selected></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
            </select>
        </span>
        <span class="ql-formats">
            <select class="ql-color" [title]="'Color'">
            </select>

            <select class="ql-background" [title]="'BackgroundColor'">
            </select>

            <button class="ql-clean" title="clean"></button>
        </span>
    </div>

</quill-editor>