.wrapper {
    $padding: 10px;
    $margin: 15px;

    min-height: calc(var(--side-bar-min-width) - 2 * $padding);
    min-width: calc(var(--side-bar-min-width) - 2 * $padding);

    height: calc(var(--side-bar-min-width) - 2 * $padding);
    width: calc(var(--side-bar-min-width) - 2 * $padding);

    margin: $margin auto;
}

.icon {
    height: 100%;
    width: 100%;


    .active {
        background-color: var(--color-blue-primary);
    }

    .standard {
        background-color: var(--color-grey-light);
    }

    button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #ffffff;
        border: none;
        border-radius: 5px;
        transition: all .4s;

        img {
            height: 100%;
            width: 100%;
        }
    }

    button:hover {
        border-radius: 5px;
        box-shadow: 3px 0px 2px 0px var(--color-red-primary),
            -4px 0px 2px 0px var(--color-blue-primary),
            5px 0px 5px 0px var(--color-blue-primary);
    }

    button:active {
        transition: all 0.2s;
        box-shadow: 4px 0px 2px 0px var(--color-red-primary),
            -5px 0px 2px 0px var(--color-blue-primary),
            7px 0px 5px 0px var(--color-blue-primary);
    }
}